*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body,html{
    background-color: #E5E3DD;
    overflow-X: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

/* dsls;k;ldsk */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.intro {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: none; */
  /* opacity: 0; */
  transition: opacity 0.75s ease-in-out;
}


@media (max-width: 700px) {
  html { font-size: 12px; }
  .intro-header { padding: 1.5rem 2rem; }
  .intro h1 { font-size: 2.5rem; }
  .intro p { font-size: 1.25rem; }
}

/* ds,lsdkldksalk */


/* start of navbar  */

  .navbars ul{
    list-style-type: none;
  }
  span {
    color: white;
  }
  .header {
    border-bottom: 1px solid #811750;
    background-color: #c4c2bc;
  }
  .navbars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index:999;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  .hamburger {
    display: none;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  .nav-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-item {
    margin-left: 5rem;
  }
  
  .nav-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #811750;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .one:hover{
        border: 1px solid #fff;
        border-radius: 10px;
        padding-left: 1%;
        padding-right: 1%;
    }
  .nav-link:hover {
    color: #fff;
  }
  
  .nav-logos img {
    font-size: 2.1rem;
    font-weight: 500;
    color: #811750;
    height: auto;
    width: 100%;
  }
  .menu-header{
    background: #c4c2bc;
  }
  .nav-menu-logos{
    color: #811750;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .nav-menu-logos:hover{
    text-decoration: none;
    color: #fff;
  }
  .bar{
    background: #132540;
  }
  .menu-header{
    display: none;
  }

/* media screen  */

@media only screen and (max-width: 1306px) {
    .nav-item {
      margin-left: 2rem;
    }
  }
  
  @media only screen and (max-width: 1033px) {
    .phoneHeader{
      margin-left: 2rem;
    }
    .contact{
      margin-top: 4rem;
    }
    .serv{
        margin-top: 4rem;  
    }
    .about{
        margin-top: 4rem;  
    }
    
    .menu-header{
      display: block;
      position: fixed;
      width: 100%;
      z-index: 988;
    }
    .nav-menus {
      position: fixed;
      left: -100%;
      top: 4rem;
      padding-top: 10%;
      padding-bottom: 10%;
      flex-direction: column;
      background-color: rgba(132, 122, 122, 0.8);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: 899;
    }
    .nav-menu{
      display: none;
    }
    .nav-link {
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff;
    }
    
    .nav-link:hover {
      color: #811750;
    }
    
      .nav-menus.active {
      left: 0;
    }
  
    .nav-items {
      margin: 1.5rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }
/* end of navbar  */

/* start of homepage  */

/* swiperjs  */
.testimonials{
  background: #132540;
  padding: 2rem;
}
.testimonials h1{
  color: #fff;
  margin: 1%;
}
.wrapper{
  width: 100%;
}
.carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  margin-right: 20%;
  margin-left: 20%;
}
@media only screen and (max-width: 450px) {
  .testimonials{
    background: #132540;
    padding: 2rem;
  }
  .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
  }
  .carousel .card {
    color: #101010;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: 20px 0;
    font-size: small;
    font-weight: 600;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    background: #c4c2bc;
  }
  .carousel .card .quote{
    margin-top: 10%;
  }
}
.carousel .card{
  color: #101010;
  text-align: center;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 20px 0;
  font-size: small;
  font-weight: 600;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  background: #c4c2bc;
}
.carousel .card:before {
  content: '';
  background: url(https://sp-ao.shortpixel.ai/client/q_lossless,ret_img/https://rapidaxis.com/wp-content/themes/rapidaxis/style/../images/quotes.png) no-repeat;
  position: absolute;
  font-size: 0;
  right: 50px;
  top: -15px;
  width: 100%;
  height: 100%;
  background-position: 100% 0;
}
.carousel-inner{
  position: relative;
}
.carousel__btn{
  background-image: none;
  top: auto;
  bottom: 23px;
  width: 45px;
  height: 45px;
  background: #811750;
  text-align: center;
  line-height: 45px;
}
/* end of swipper  */

.background{
    width: 1439px;
}

.para{
    padding-top: -50vh;
    padding-left: 35%;
}
@media only screen and (max-width: 450px) {
    .para{
        padding-left: 5%;
        padding-top: 3%;
    }
    .background{
        height: 60vh;
    }
}
.pink{
    color: #811750;
    font-weight: 900;
    font-size: xx-large;
}
.magenta{
    color: #132540;
    font-size: x-large;
    font-weight: 600;
}
.consult{
    color: #fff;
    background-color: #811750;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.call{
    color: #132540;
    font-size: xx-large;
    font-weight: 800;
}
.tell{
    color: #fff;
    background-color: #5FD068;
    padding: 1%;
    border: 1px solid #132540;
    border-radius: 10px;
    box-shadow: 10px 10px #132540;
}
.tell:hover{
    color: #fff;
    text-decoration: none;
    background-color: #811750;
    box-shadow: 10px 10px #132540;
}
.h2{
  padding-top: 3%;
  color: #811750;
  font-weight: 900;
  text-shadow: 2px 2px #ffff;
}
.we{
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 5%;
}
.we ul{
  list-style-type: none;
}
.we ul li {
  margin-top: 2%;
  border: 1px solid #132540;
  padding: 1%;
  background-color: #ffff;
  box-shadow: 5px 5px #132540;
}

.what{
  background-image: url("./Assets/homecare.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

@media only screen and (max-width: 450px) {
  .we{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
  }
  .we ul li {
    margin-top: 5%;
    border: 1px solid #132540;
    padding: 1%;
    background-color: #fff;
    box-shadow: 10px 10px #132540;
    font-size: small;
  }
}
.service{
  background-color: #fff;
  padding-top: 2%;
}
.vice{
  color: #811750;
  margin-bottom: 3%;
}
.direction{
  display: flex;
  justify-content: space-evenly;
}
.east, .west{
  background-color: #c4c2bc;
  padding: 2%;
  width: 35%;
  border-radius: 0px 30px;
}
.east ul, .west ul{
  list-style-type: none;
}
 .east ul li, .west ul li{
  border: 2px solid #fff;
  padding: 3%;
  margin-top: 3%;
  background-color: #DAEAF1;
  box-shadow: -5px 5px #132540;
  border-radius: 20px 0px;
}
.seemore{
  margin-bottom: 2%;
  background-color: #811750;
  color: #fff;
  padding: 1%;
  box-shadow: -8px 8px #132540;
  font-weight: 500;
}
@media only screen and (max-width: 450px) {
  .service{
    padding-bottom: 5%;
  }
  .vice{
    color: #811750;
    margin-top: 5%;
  }
  .direction{
    display: inline;
  }
  .east, .west{
    background-color: inherit;
    padding: 2%;
    width: 100%;
    border-radius: 0px 30px;
  }
  .west{
    margin-top: -7%;
  }
  .east ul li, .west ul li{
    border: 2px solid #fff;
    padding: 3%;
    margin-top: 3%;
    background-color: #DAEAF1;
    box-shadow: -5px 5px #132540;
    border-radius: 20px 0px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .seemore{
    margin-bottom: 2%;
    background-color: #811750;
    color: #fff;
    padding: 3%;
    box-shadow: -8px 8px #132540;
    font-weight: 500;
    font-size: larger;
  }
}

/* end of home page  */



/* start of services  */
.head{
    color: #132540;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 10px 10px #811750;
    border-radius: 20px 0px;
}
.amb{
  width: 50%;
  font-weight: 600;
}
@media only screen and (max-width: 450px) {
    .head{
        font-size: small;
        padding: 5%;
    }
    .serv .h5{
        font-size: larger;
        font-weight: 900;
    }
    .comm{
        padding: 5%;
    }
    .comm .pant{
        display: inline;
    }
    .comm .pant .left{
        width: 100%;
        margin-bottom: 5%;
    }
    .comm .pant .left img{
        box-shadow: none;
    }
    .comm .pant .lef{
        width: 100%;
        margin-top: 5%;
    }
    .comm .pant .lef img{
        box-shadow: none;
    }
    .comm .pant .right {
        padding-left: 15%;
    }
    .comm .pant .rig {
        padding-left: 15%;
    }
    .none{
      display: none;
    }
    .amb{
      width: inherit;
    }
}

.h4{
    font-weight: 900;
}
.comm{
    background-color: #fff;
    border: 2px solid #E5E3DD;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
    border-radius: 10px 60px;
}
.h5{
    color: #811750;
    font-weight: 600;
    font-size: xx-large;
}
.pant{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.left{
    width: 50%;
}
.left>img{
    border-radius: 20px;
    box-shadow: -5px 5px #132540;
}
.left>img:hover{
    box-shadow: none;
}
.right{
    margin-left: 2%;
    background-color: #E5E3DD;
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-right: 20%;
    box-shadow: 0px 10px 10px #132540;
    border-radius: 5%;
}
.right:hover{
    box-shadow: none;
}
.lef{
    width: 50%;
    margin-left: 2%;
}
.lef>img{
    border-radius: 20px;
    box-shadow: 5px 5px #132540;
}
.lef>img:hover{
    box-shadow: none;
}
.rig{
    border-radius: 5%;
    background-color: #E5E3DD;
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-right: 5%;
    box-shadow: 0px 10px 10px #132540; 
}
.rig:hover{
    box-shadow: none;
}
.icon{
  font-size: xx-large;
  font-weight: 900;
  margin-bottom: 2%;
}
.prof{
  font-weight: 700;
}
/* end of service page  */

/* about page  */

.about{
    margin-left: 20%;
    margin-right: 20%;
    /* margin-top: 3%;    */
    border-radius: 0px 20px;
    padding: 3%;
}
@media only screen and (max-width: 450px) {
    .about{
        margin-top: 15%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5%;
        border-radius: 0px 50px;
    }
    .about .pam{
        font-size: xx-large;
        font-weight: 500;
    }
    .about .bod{
        font-size: large;
    }
}
.pam{
    font-size: xx-large;
    font-weight: 800;
    color: #811750;
}
.bod{
    font-size: larger;
    font-weight: 600;
    color: #132540;
}
.whychoose{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.whychoose .east {
  border: 1px solid #fff;
  box-shadow: -10px 10px #132540;
  background-color: #c4c2bc;
}
.whychoose .west{
  background-color: #132540;
  border: 1px solid #fff;
  box-shadow: 10px 10px #c4c2bc;
}
.miss{
  color: #811750;
  text-shadow: 2px 2px #fff;
  font-size: xx-large;
  font-weight: 600;
}
.viss{
  color: #811750;
  text-shadow: 2px 2px #DAEAF1;
  font-size: xx-large;
  font-weight: 600;
}

.mission{
  color: #132540;
  font-size: larger;
  font-weight: 400;
}
.vision{
  color: #fff;
  font-size: larger;
  font-weight: 400;
}
@media only screen and (max-width: 450px) {
  .whychoose{
    display: inline;
    margin-top: 2%;
  }
  .whychoose .east, .whychoose .west{
    padding: 10%;
  }
  .whychoose .east {
    border: 1px solid #fff;
    box-shadow: none;
    background-color: #c4c2bc;
  }
  .whychoose .west{
    background-color: #132540;
    border: 1px solid #fff;
    box-shadow: none;
  }
}
hr{
  box-shadow: 0px 5px #DAEAF1;
}
.care{
  color: #811750;
}
.three{
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
}
.will{
  color: #811750;
}
.four, .five, .six{
  background-color: #c4c2bc;
  padding: 2%;
  margin: 1%;
  border: 1px solid #fff;
  box-shadow: 10px 10px #fff;
  border-radius: 10px;
}
.desc{
  margin-top: 5%;
}
@media only screen and (max-width: 450px) {
  .care{
    color: #811750;
    font-size: x-large;
  }
  .three{
    display: inline;
    padding-top: 2%;
  }
  .four, .five, .six{
    background-color: #c4c2bc;
    padding: 5%;
    margin: 10%;
    border: 1px solid #fff;
    box-shadow: 10px 10px #fff;
    border-radius: 10px;
  }
  .will{
    color: #811750;
    margin-top: 5%;
  }
}
/* end of about  */

/* start contact us */

@media only screen and (max-width: 450px) {
    .contact .flex{
        display: inline;
    }
    .contact .flex .contactForm{
        margin-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .contact .flex .contactForm .param .row .form-control{
        margin-top: 5%;
    } 
}
.flex{
    display: flex;
}
  .contactForm{
    padding: 0 5rem;
  }
  .map{
    margin-top: 3%;
  }
  .param p{
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 20px;
    line-height: 1.5;
  }
  .form-control{
    margin-top: 3%;
    text-align: center;
    box-shadow: 0px 10px 10px #132540;
    border-radius: 0px 10px;
  }
  .us{
    color: #811750;
    margin-top: 2%;
  }
  .submit{
    background-color: #811750;
    color: #fff;
  }
  @media screen and (max-width: 1366px){
  .contactForm{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  }
  /* end contact us */

  /* start of footer  */
  footer {
    border-top: 1px solid #d3d5d9;
    padding-bottom: 1% !important;
    background-color: #DAEAF1;
  }
  
   footer .container-fluid .row .footer__grp ul{
    text-decoration: none;
    list-style-type: none;
  }
  .footer__title{
    text-align: center;
    font-weight: 900;
    font-size: 17px;
    color: #811750;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 15px;
    padding-left: 15px;
  }
  .footer__grp{
    display: block;
    align-items: start;
  }
  footer li a {
    font-size: larger;
    color: #132540;
    font-weight: 500;
  }
  footer li a:hover{
    color: #c4c2bc;
    text-decoration: none;
  }
  .footer__title:hover{
    color: #811750;
    text-decoration: none;
  }
  .SOCIAL{
    margin-top: 1rem;
  }
  .icons{
    margin-top: 5%;
  }
  .icons a{
    margin: 0px 5px;
    display: inline;
    font-size: x-large;
  }
  footer .row{
    text-align: center;
  }
  @media only screen and (max-width: 993px){
    .serviceBox2{
      padding: 1rem .5rem;
      margin-left: 1rem;
    }
    .serviceBox4{
      padding: 1rem .5rem;
      margin-left: 1rem;
    }
    .services {
      margin: 1rem 1rem;
    }
    .leftSection .text{
      margin-top: 3rem;
    }
    .lazyloaded {
      margin: .5rem 4rem;
    }
    .footer__grp{
      float: none;
    }
  }
  /* end of footer  */