body,html{
    background-color: #E5E3DD;
    overflow-X: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

/* start of navbar  */
.nav{
    border-bottom: 2px solid #811750;
    background-color: #c4c2bc;
    padding: 0%;
    margin: 0%;
}
img{
    margin-right: 20%;
}
.nav-item{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.nav-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #811750;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.one:hover{
    background-color: #811750;
    border-radius: 10px;
}
.one>a:hover{
    padding-top: 5%;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.one{
    margin-bottom: 1%;
    margin-top: 5%;
}
/* end of navbar  */

/* start of homepage  */
.background{
    background-repeat: no-repeat;
    background-size: cover;
    width: 1439px;
    height: 865px;
    background-image: url("https://www.ahericare.com/images/72389f347addcc9d030e6043852dc4fd.jpg");
}
.para{
    padding-top: 10%;
    padding-left: 35%;
}
.pink{
    color: #811750;
    font-weight: 900;
    font-size: xx-large;
}
.magenta{
    color: #132540;
    font-size: x-large;
    font-weight: 600;
}
.consult{
    color: #fff;
    background-color: #811750;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.call{
    color: #132540;
}
.tell{
    color: #fff;
    background-color: #5FD068;
    padding: 1%;
    border: 1px solid #132540;
    border-radius: 10px;
    box-shadow: 10px 10px #132540;
}
.tell:hover{
    color: #fff;
    text-decoration: none;
    background-color: #811750;
    box-shadow: 10px 10px #132540;
}
/* end of home page  */

/* start of services  */
.head{
    color: #132540;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 10px 10px #811750;
}
.h4{
    font-weight: 900;
}
.comm{
    background-color: #fff;
    border: 2px solid #E5E3DD;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
    border-radius: 2% 2% 2% 2%;
}
.h5{
    color: #811750;
    font-weight: 600;
    font-size: xx-large;
}
.pant{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.left{
    width: 50%;
}
.left>img{
    border-radius: 5%;
}
.right{
    margin-left: 2%;
    background-color: #E5E3DD;
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-right: 20%;
    box-shadow: 0px 10px 10px #132540;
    border-radius: 5%;
}
.right:hover{
    box-shadow: none;
}
.lef{
    width: 50%;
    margin-left: 2%;
}
.lef>img{
    border-radius: 5%;
}
.rig{
    border-radius: 5%;
    background-color: #E5E3DD;
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-right: 15%;
    box-shadow: 0px 10px 10px #132540; 
}
.rig:hover{
    box-shadow: none;
}
/* end of service page  */

/* about page  */

.about{
    border: 2px solid #fff;
    background-color: #fff;
    opacity: 0.9;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;   
    border-radius: 10% 10% 10% 10%;
    padding: 3%;
}

.pam{
    font-size: xx-large;
    font-weight: 800;
    color: #811750;
}
.bod{
    font-size: larger;
    font-weight: 600;
    color: #132540;
}
/* end of about  */

/* start contact us */

.contactInfo{
    background-color: #383b44;
    justify-content: flex-end;
    padding: 6rem 2rem;
    align-items: center;
    color: white;
  }
  .contactForm{
    padding: 0 5rem;
  }
  .map{
    margin-top: 3%;
  }
  .param p{
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 20px;
    line-height: 1.5;
  }
  .form-control{
    margin-top: 3%;
    text-align: center;
    box-shadow: 0px 10px 10px #132540;
  }
  .us{
    color: #811750;
    margin-top: 2%;
    /* margin-bottom: 2%; */
  }
  .submit{
    background-color: #811750;
    color: #fff;
  }
  @media screen and (max-width: 1366px){
    /* .contactUs {
      display: block;
  } */
  .contactForm{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  }
  /* end contact us */

  /* start of footer  */
  footer {
    border-top: 1px solid #d3d5d9;
    padding-bottom: 2rem !important;
    margin-top: 2%;
    background-color: #BECA5C;
  }
  
   ul{
    text-decoration: none;
    list-style-type: none;
  }
  .footer__title{
    text-align: center;
    font-weight: 900;
    font-size: 17px;
    color: #811750;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 15px;
    padding-left: 15px;
  }
  .footer__grp{
    display: block;
    align-items: start;
  }
  footer li a {
    font-size: larger;
    color: #132540;
    font-weight: 500;
  }
  footer li a:hover{
    color: #811750;
    text-decoration: none;
  }
  .SOCIAL{
    margin-top: 1rem;
  }
  .icons{
    margin-top: 5%;
  }
  .icons a{
    margin: 0px 5px;
    display: inline;
    font-size: x-large;
  }
  footer .row{
    text-align: center;
  }
  @media only screen and (max-width: 993px){
    .serviceBox2{
      padding: 1rem .5rem;
      margin-left: 1rem;
    }
    .serviceBox4{
      padding: 1rem .5rem;
      margin-left: 1rem;
    }
    .services {
      margin: 1rem 1rem;
    }
    .leftSection .text{
      margin-top: 3rem;
    }
    .lazyloaded {
      margin: .5rem 4rem;
    }
    .footer__grp{
      float: none;
    }
  }
  /* end of footer  */